<header>
  <a
    class="logo"
    routerLink="/lista-livros"
    routerLinkActive="active-page"
    ariaCurrentWhenActive="page"
    aria-label="Ir para a página inicial"
  >
    <img src="assets/imagens/logo.png" alt="Logo da aplicação Buscante" />
  </a>
  <nav>
    <a
      routerLink="/sobre"
      routerLinkActive="active-page"
      ariaCurrentWhenActive="page"
      aria-label="Saiba mais sobre a aplicação Buscante"
      >Sobre
    </a>
    <a
      routerLink="/contato"
      routerLinkActive="active-page"
      ariaCurrentWhenActive="page"
      aria-label="Entre em contato"
      >Contato
    </a>
  </nav>
</header>
